.App {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

* {
  margin: 0
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
}

@media screen and (max-width: 500px) {
  .weather-cards {
    justify-content: center;
  }
}
